[submodule "build/ns-3-dev"]
	path = build/ns-3-dev
	url = https://gitlab.com/non-det-alle/ns-3-dev.git
[submodule "build/lorawan"]
	path = build/lorawan
	url = https://github.com/non-det-alle/lorawan.git
