services:
  elora:
    image: nondetalle/elora:latest
    build: ./build/
    network_mode: bridge
    cap_add: [NET_ADMIN]
    secrets: [chirpstack-api-token]
    environment: 
      CHIRPSTACK_API_TOKEN_FILE: /run/secrets/chirpstack-api-token
    volumes:
      - ./configuration.toml:/home/elora/configuration.toml
      - ./elora-example/:/home/elora/ns-3-dev/scratch/elora-example/
      - ./data/:/home/elora/data/

secrets:
  chirpstack-api-token:
    file: .env.chirpstack-api-token
